@import './variables.css';

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: var(--color-bg);
  color: var(--color-text);
  font-family: var(--font-family);
  font-size: 14px;
  line-height: 1.5;
}

button {
  font-family: inherit;
}

input,
select {
  font-family: inherit;
}

table {
  border-collapse: collapse;
  width: 100%;
}
